@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #BB86FC;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6200EE;
}
